#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
  zoom: 0.64;
}


.router-link-active,
.router-link-exact-active {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.userinput {
    font-size:20px;
    width: 520px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: #2c3e50;
}
.usertextarea {
    font-size:20px;
    width: 520px;
    border-radius: 5px;
}
.normal {
   width: 600px;
   margin: auto;
   text-align: left;
   font-size: 22px;
}

p {
   text-align: left;
}
