#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

nav li:hover,
nav li.router-link-active,
nav li.router-link-exact-active {
  background-color: indianred;
  cursor: pointer;
}

li a {
    text-decoration: none;
}

.userinput {
    font-size:22px;
    width: 520px;
}
.normal {
   width: 600px;
   margin: auto;
   text-align: left;
   font-size: 22px;
}

p {
   text-align: left;
}
